*{
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    height: 700px;
}
.right{
    display: flex;
    flex-direction: column-reverse;
    flex-basis: 30%;
}
.one{
    background-color: yellow;
    height: 100%;
    
}
.two{
    background-color: red;
    height: 100%;

}
.three{
    background-color: blue;
    height: 100%;
}
.four{
    background-color: blueviolet;
    flex-basis: 70%;
}