*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.main{
    margin: 0 auto;
    width: 90%;
    min-width: 250px;
}
h1{
    text-align: center;
}
img{
    width: 100%;
}
ul{
    border-top: 1px solid rgb(202, 199, 199);
    border-left: 1px solid rgb(202, 199, 199);
    border-right: 1px solid rgb(202, 199, 199);
    padding: 0px;
    list-style-type: none;
}
/* li{
    width: 100%;
    text-align: center;
    padding: 5px;
    
} */
a{
    width: 100%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgb(202, 199, 199);
    display: block;
    text-decoration: none;
    color: rgb(107, 107, 245);
}

a:hover{
    background-color: rgb(107, 107, 245);
    font-weight: bold;
    color: white;
}
article p{
    text-align: center;
}
@media screen and (min-width:768px){
    header{
        display:block;
    }
    h1{
        text-align: left;
        display: inline-block;
        /* float: left; */
    }
    ul{display: block;
        position: absolute;
        top: 20px;
        right: 3%;
        border: none;
        margin: 0px;
        padding: 0px;
    }
    a{
        padding: 15px 20px;
        border: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    /* nav{
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
    } */
    /* nav{
        position: absolute;
        top: 20px;
        right: 4%;
        text-align: right;
    } */
    nav ul li{
        display: inline-block;
        margin: 0px;
    }
    article{
        border: 1px solid rgb(202, 199, 199);
        border-radius: 5px;
        display: flex;
        padding: 5px;
        margin: 10px;
    }
    article img{
        width: 30%;
        display: inline-block;
    }
    article p{
        
        width: 69%;
        display: inline-block;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
}
@media screen and (min-width:1024px){
    article{
        border: none;
        margin: 0px;
        padding: 0px;
        display: inline-block;
        width: 33%;
    }
    article img{
        width: 100%;
    }
    article p{
        width: 100%;
    }

}